.ChartHeader {
  padding: 20px;
}

.ChartHeader-title {
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: left;
}

.ChartHeader-subtitle {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-top: 10px;
  text-align: right;
  text-transform: uppercase;
}
